# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
apikeys: &generic
  recaptcha:
    public_key: your_recaptcha_public_key
    secret_key: your_recaptcha_secret_key

development:
  <<: *generic
  secret_key_base: 215500c404c69a37035b580bc7e0b8f1c758430cf485140d43ca06b96a3c12485f8b4b1316475f50b1815360a5523927edbb61337b28751b47f0729afaa56e16

test:
  <<: *generic
  secret_key_base: 72c6d063d60fadb30e9ac22f476f4b31036a07746e51ced67d8a78a0aa1ad027e15df36c8723e75b129ca273a6ead14d49806257c8dbc90dd001f9a7d90771d5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *generic
  secret_key_base: a569bf4cebabc4698668ad5d24ffeae7588d377ebe016c1cc0ce9c98a1e73e61523fdfbe6f76262edcde16de9fb9ae6e8c9682386892ed26e8152022ac20b84a
